<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">    
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="icon" href="img/icon.png">
        <link href="styles/globals.css" rel="stylesheet">
        <link href="styles/post.css" rel="stylesheet">
        <link href="styles/nav.css" rel="stylesheet">
        <title>Blogs</title>
    </head>
    <body>
        <div class="app">
            <%- include('./partials/logged-in-nav.html') %>
            <div class="container">
                <a id="addNewPost" href="/compose" class="btn btn-success"> + </a>
                <% for(const post of posts) { %>
                    <div class= "row post" >
                        <h2 class="post-title"> <%= post.title %> </h2>
                        <p class="post-metadata"> posted by: <%= post.createdBy.username %> </p>
                        <p class="post-metadata"> posted at: <%= post.createdAt %> </p>
                        <p class="post-body"> <%= post.body %>  </p>
                    </div>
                <% } %>
            </div>
        </div>
        <%- include('./partials/footer.html'); %>