<%- include('./partials/header.html'); %>
<div class="app">
    <%- include('./partials/guest-nav.html')%>
    <div class="container">
        <p id="guest-warning"> To add posts you need to login or register if you didn't before </p>
        <% for(const post of posts) {%>
            <div class= "row post" >
                <h2 class="post-title"> <%= post.title %> </h2>
                <p class="post-metadata"> posted by: <%= post.createdBy.username %> </p>
                <p class="post-metadata"> posted at: <%= post.createdAt %> </p>
                <p class="post-body"> <%= post.body %>  </p>
            </div>
        <% } %>
    </div>
</div>
<%- include('./partials/footer.html'); %>